#modal_main{
	position:fixed;
		background:#000c;
		height:100%;
		width:100%;
		top:0;
		left:0;
		display:none;
		z-index:5;
}

#modal_frame{
background:white;
margin:0 auto;
margin-top:10%;
border:5px ridge gray;
}

.content{
	margin:0 auto;
	width:80%;
	text-align:center;
}

#modal_logo{
	height:45%;
}

#logo_pic{
	width:80%;
	height:100%;
}

#modal_title{
	font-size:5vw;
	font-weight:bold;
	height:20%;
}
#modal_text{
	color:#000a;
	height:15%;
}

#modal_options{
	height:20%;
	margin:0 auto;
}

#btn_opt_bal{
float:left;
background:#ddfc;
height:45%;
width:20%;	
text-align:center;
border-radius: 5%;
box-shadow: 0 0 20px;
margin-top:5%;
font-weight:bold;
}

#btn_opt_bal:hover{
	font-weight:bold;
	cursor: pointer;
	color:#fff;
	background:#323;
	height:55%;
	width:22%;
	margin-top: 3.5%;
}